/*
    This website was written by Corey Hedberg for the purposes of the Free Code Camp Responsive Web Design Certification "Build A Personal Portfolio Webpage" challenge.
    corey@coreyhedberg.dev
    https://coreyhedberg.dev
*/

body {
  margin: 0;
  background-color: #1d2534;
  background-image: linear-gradient(160deg, #1d2534 0%, #58709d 100%) none;
  margin-top: 5em;
  font-family: "Roboto Slab", serif;
}

#navbar {
  background-color: #5b618a;
  padding: 0.5em 0 0.5em 0;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.nav-me {
  padding-left: 0.25em;
  color: #ffffff;
  font-size: 2.5em;
  text-decoration: none;
}

#about-link {
  margin-left: auto;
}

.nav-links {
  color: #ffffff;
  font-size: 1em;
  width: 8em;
  align-self: center;
  text-align: center;
  text-decoration: none;
}

.nav-links:hover,
.nav-me:hover {
  font-weight: bold;
}

#welcome-section {
  background-image: url("./media/welcome_section_background.jpg");
  background-size: cover;
  height: 100vh;
  max-width: 100%;
}

#welcome-section > h1 {
  font-size: 6em;
  padding-top: 2em;
}

#welcome-section,
#about-me {
  color: white;
  text-align: center;
}

#about-me {
  background-image: url("./media/about_me_section_background.jpg");
  padding: 0.5em 6em 0.5em 6em;
  margin-top: 2em;
  max-width: 100%;
  height: auto;
}

#projects {
  color: #ffffff;
}

.project-links {
  color: #ffffff;
  text-decoration: none;
}

.project-links:hover {
  color: yellow;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 7.5em;
  }
  #navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border: 1px dashed green;
  }
  .nav-me {
    font-size: calc(2.5em * 0.8);
  }
  .nav-links {
    font-size: calc(1em * 0.8);
  }
}
